body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 700px;
    width:auto;
    
    
}
.container
    {
                    max-width: 800px;
                    margin: 0 auto    ;
                    font-family: serif;
                    color: orange;
                    background-color: #fffc9d;
                    padding-left: 20;
                    padding-right: 20;
    }

